body {
    background-color: rgb(53, 41, 26);
}

header {
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);

}   

section {   
    background-color: white;
    padding: 10px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.buttonTask{
    cursor: pointer;
    background-color: green;
    color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgb(1, 39, 1);
}

.delete {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 3px 3px 6px black;
    
} 

footer {
    text-align: center;
    font-style: italic;
    color: white;
}

